## Implementation of Kolm et al. 2021
### (ROUGH WORK)
 Kolm PN, Turiel J, Westray N. Deep Order Flow Imbalance: Extracting Alpha at Multiple Horizons from the Limit Order Book [Internet]. Rochester, NY; 2021 [cited 2024 Jul 26]. Available from: https://papers.ssrn.com/abstract=3900141

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data/2024_07_24__27/market-orders-2024-07-24_00-15-05.v3.csv')

In [3]:
df2 = pd.read_csv('data/2024_07_24__27/market-orders-2024-07-24_00-45-05.v3.csv')

In [4]:
jita_orders = df[df['station_id'] == 60003760]

In [5]:
print(jita_orders[(jita_orders['type_id'] == 34) & (jita_orders['is_buy_order'] == True)].sort_values('price', ascending=False).head(10))

       duration  is_buy_order                issued  location_id  min_volume  \
17547        30          True  2024-07-23T22:36:51Z     60003760           1
17546        90          True  2024-07-23T09:24:46Z     60003760           1
17548        90          True  2024-07-23T22:54:50Z     60003760           1
17541        90          True  2024-07-12T14:20:08Z     60003760           1
17549        90          True  2024-07-23T22:55:00Z     60003760           1
17550        90          True  2024-07-23T22:55:08Z     60003760           1
17551        90          True  2024-07-23T22:55:15Z     60003760           1
17545        90          True  2024-07-23T06:58:59Z     60003760           1
17552        90          True  2024-07-23T22:55:24Z     60003760           1
17538        90          True  2024-07-07T11:22:14Z     60003760           1

         order_id  price    range   system_id  type_id  volume_remain  \
17547  6837451860   4.54  station  30000142.0       34        5000000
17546  6837016639   4.54  station  30000142.0       34       47450186
17548  6837458821   4.50  station  30000142.0       34              1
17541  6829636991   4.48  station  30000142.0       34       74952003
17549  6837458875   4.45  station  30000142.0       34              1
17550  6837458909   4.40  station  30000142.0       34              1
17551  6837458995   4.35  station  30000142.0       34              1
17545  6836963362   4.34  station  30000142.0       34      200000000
17552  6837459032   4.30  station  30000142.0       34              1
17538  6826475112   4.19  station  30000142.0       34      180184129

       volume_total    http_last_modified  station_id  region_id  \
17547       5000000  2024-07-24T00:12:56Z  60003760.0   10000002
17546     100000000  2024-07-24T00:12:56Z  60003760.0   10000002
17548             1  2024-07-24T00:12:56Z  60003760.0   10000002
17541     111111111  2024-07-24T00:12:56Z  60003760.0   10000002
17549             1  2024-07-24T00:12:56Z  60003760.0   10000002
17550             1  2024-07-24T00:12:56Z  60003760.0   10000002
17551             1  2024-07-24T00:12:56Z  60003760.0   10000002
17545     200000000  2024-07-24T00:12:56Z  60003760.0   10000002
17552             1  2024-07-24T00:12:56Z  60003760.0   10000002
17538     200000000  2024-07-24T00:12:56Z  60003760.0   10000002

       constellation_id
17547        20000020.0
17546        20000020.0
17548        20000020.0
17541        20000020.0
17549        20000020.0
17550        20000020.0
17551        20000020.0
17545        20000020.0
17552        20000020.0
17538        20000020.0

In [6]:
buy_state0 = jita_orders[(jita_orders['type_id'] == 34) & (jita_orders['is_buy_order'] == True)].sort_values('price', ascending=False).head(10).drop(columns=['constellation_id', 'region_id', 'http_last_modified', 'system_id', 'location_id', 'station_id'])

In [7]:
sell_state0 = jita_orders[(jita_orders['type_id'] == 34) & (jita_orders['is_buy_order'] == False)].sort_values('price', ascending=True).head(10).drop(columns=['constellation_id', 'region_id', 'http_last_modified', 'system_id', 'location_id', 'station_id'])

In [8]:
buy_state0

,duration,is_buy_order,issued,min_volume,order_id,price,range,type_id,volume_remain,volume_total
17547,30,True,2024-07-23T22:36:51Z,1,6837451860,4.54,station,34,5000000,5000000
17546,90,True,2024-07-23T09:24:46Z,1,6837016639,4.54,station,34,47450186,100000000
17548,90,True,2024-07-23T22:54:50Z,1,6837458821,4.50,station,34,1,1
17541,90,True,2024-07-12T14:20:08Z,1,6829636991,4.48,station,34,74952003,111111111
17549,90,True,2024-07-23T22:55:00Z,1,6837458875,4.45,station,34,1,1
17550,90,True,2024-07-23T22:55:08Z,1,6837458909,4.40,station,34,1,1
17551,90,True,2024-07-23T22:55:15Z,1,6837458995,4.35,station,34,1,1
17545,90,True,2024-07-23T06:58:59Z,1,6836963362,4.34,station,34,200000000,200000000
17552,90,True,2024-07-23T22:55:24Z,1,6837459032,4.30,station,34,1,1
17538,90,True,2024-07-07T11:22:14Z,1,6826475112,4.19,station,34,180184129,200000000

In [9]:
sell_state0

,duration,is_buy_order,issued,min_volume,order_id,price,range,type_id,volume_remain,volume_total
17460,90,False,2024-07-23T23:48:50Z,1,6837480310,4.94,region,34,48505139,86787323
17459,90,False,2024-07-23T22:58:19Z,1,6837460103,4.95,region,34,241539369,243348635
17456,90,False,2024-07-23T22:46:36Z,1,6837455709,4.96,region,34,566577,569944
17455,90,False,2024-07-23T22:16:23Z,1,6837441535,4.97,region,34,78585527,134574562
17444,30,False,2024-07-22T08:05:10Z,1,6836328234,4.98,region,34,657497744,1414420495
17447,90,False,2024-07-22T19:11:37Z,1,6836654427,4.98,region,34,18798076,18798076
17450,90,False,2024-07-23T11:29:14Z,1,6837061817,4.98,region,34,33904247,33904247
17439,3,False,2024-07-22T00:48:05Z,1,6836174590,4.99,region,34,1803798,1803798
17427,90,False,2024-07-21T00:38:31Z,1,6834560854,4.99,region,34,739636204,2147483647
17443,30,False,2024-07-22T07:12:19Z,1,6836308801,4.99,region,34,82703704,82703704

state0 = a_t_1,

In [10]:
jita_orders2 = df2[df2['station_id'] == 60003760]

In [11]:
buy_state1 = jita_orders2[(jita_orders2['type_id'] == 34) & (jita_orders2['is_buy_order'] == True)].sort_values('price', ascending=False).head(10).drop(columns=['constellation_id', 'region_id', 'http_last_modified', 'system_id', 'location_id', 'station_id'])

In [12]:
sell_state1 = jita_orders2[(jita_orders2['type_id'] == 34) & (jita_orders2['is_buy_order'] == False)].sort_values('price', ascending=True).head(10).drop(columns=['constellation_id', 'region_id', 'http_last_modified', 'system_id', 'location_id', 'station_id'])

In [13]:
def bid_orderflow(buy_state0, buy_state1):
    bOF_list = []
    for i in range(len(buy_state0)):
        if buy_state1['price'].iloc[i] > buy_state0['price'].iloc[i]:
            bOF = buy_state1['volume_remain'].iloc[i]
            bOF_list.append(bOF)
        elif buy_state1['price'].iloc[i] == buy_state0['price'].iloc[i]:
            bOF = buy_state1['volume_remain'].iloc[i] - buy_state0['volume_remain'].iloc[i]
            bOF_list.append(bOF)
        elif buy_state1['price'].iloc[i] < buy_state0['price'].iloc[i]:
            bOF = -buy_state1['volume_remain'].iloc[i]
            bOF_list.append(bOF)
    bOF_array = np.array(bOF_list)
    return bOF_array

In [14]:
def ask_orderflow(sell_state0, sell_state1):
    aOF_list = []
    for i in range(len(sell_state0)):
        if sell_state1['price'].iloc[i] > sell_state0['price'].iloc[i]:
            aOF = -sell_state1['volume_remain'].iloc[i]
            aOF_list.append(aOF)
        elif sell_state1['price'].iloc[i] == sell_state0['price'].iloc[i]:
            aOF = sell_state1['volume_remain'].iloc[i] - sell_state0['volume_remain'].iloc[i]
            aOF_list.append(aOF)
        elif sell_state1['price'].iloc[i] < sell_state0['price'].iloc[i]:
            aOF = sell_state1['volume_remain'].iloc[i]
            aOF_list.append(aOF)
    aOF_array = np.array(aOF_list)
    return aOF_array

In [15]:
midprice0 = (buy_state0['price'].iloc[0] + sell_state0['price'].iloc[0]) / 2
midprice1 = (buy_state1['price'].iloc[0] + sell_state1['price'].iloc[0]) / 2

In [16]:
mp_return = midprice1 - midprice0
print(mp_return)
print(np.round(mp_return, 5))

0.004999999999999005
0.005

In [17]:
spread0 = sell_state0['price'].iloc[0] - buy_state0['price'].iloc[0]
spread1 = sell_state1['price'].iloc[0] - buy_state1['price'].iloc[0]

In [18]:
bOF = bid_orderflow(buy_state0, buy_state1)
print(bOF)

[199992793 -42450186  47450186 200000000         1  74952003         1
         1         1         1]

In [19]:
aOF = ask_orderflow(sell_state0, sell_state1)
print(aOF)

[   8496293   18999422  241539369     566577   78585527          0
          0  657497744 -656932500  -80899906]

In [20]:
order_flow_imbalance = bOF - aOF
print(order_flow_imbalance)

[ 191496500  -61449608 -194089183  199433423  -78585526   74952003
          1 -657497743  656932501   80899907]

In [21]:
bid_price = buy_state1['price'].values[0]

input = lagged orderflow
output target = midprice returns


mid_price_return = midprice_1 - midprice0

In [22]:
from src import orderflow as of

In [23]:
t1 = of.load_data(pd.read_csv('data/2024_07_24__27/market-orders-2024-07-24_00-15-05.v3.csv'), type_id=34)
t2 = of.load_data(pd.read_csv('data/2024_07_24__27/market-orders-2024-07-24_00-45-05.v3.csv'), type_id=34)
t3 = of.load_data(pd.read_csv('data/2024_07_24__27/market-orders-2024-07-24_01-15-05.v3.csv'), type_id=34)

In [24]:
features = of.calc_feats(t1['buy_data'], t2['buy_data'], t1['sell_data'], t2['sell_data'])

In [25]:
features

{'mid_price_return': 0.004999999999999005}

next step:

winsorize all independent and dependent variables in training set at 0.5 and 99.5% levels
then z score normalise
parameters for training dataset (in-sample) normalisation are used to scale val/test set data